

.rounded_icon {
    height: 75px;
    width:  75px;
    margin-top: 5px;
    margin-left:10px;
    margin-bottom:10px;
}

.install_button {
    'position': 'absolute',
    'left': '200px',
    'top': '50px',
    'width': '150.0px',
    'height': '38.0px',
    'line-height': '38.0px'
}